<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WHITE BATON</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>

<body class="bg-black">
  <div class="flex-row text-white">
    <a href="{{ url_for('home') }}"><input type="button" value="HOME" ></a>
  <div>
    <p class="text-white" id="clock">Here will be date|time</p>
    <script>
        var clock = document.getElementById("clock");
        setInterval(() => {
            fetch("{{ url_for('time_feed') }}")
            .then(response => {
                    response.text().then(t => {clock.innerHTML = t})
                });
            }, 1000);  
    </script>
  </div>
  <div>
    <p class="text-white" id="sensor">Here will be sensor value</p>
    <script>
        var sensor = document.getElementById("sensor");
        setInterval(() => {
            fetch("{{ url_for('sensor_feed') }}")
            .then(response => {
                    response.text().then(t => {sensor.innerHTML = t})
                });
            }, 100);  
    </script>
  </div>
  <p class="text-white" id="sensor">Here will be sensor value</p>
  <script>
      var sensor = document.getElementById("sensor");
      setInterval(() => {
          fetch("{{ url_for('sensor_feed') }}")
          .then(response => {
                  response.text().then(t => {sensor.innerHTML = t})
              });
          }, 100);  
  </script>
  <div class="flex-col">
    <h3 class="text-white font-light">Camera Streaming</h3>
    <img class="rounded-md width-80" src="{{ url_for('real_time_coaching_with_voice_video_feed') }}">
  </div>
</body>

</html>